body {
  font-family: Arial, Helvetica, sans-serif;
}

.c-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: #ccc;
}

.d-button {
  margin: 10px 0 0 0;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  min-width: 100px;
  font-family: inherit;
  cursor: pointer;
}

.d-button:hover {
  background: #1d49aa;
}

.d-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.d-button[disabled] {
  color: #d2d5db;
  background: #6c7589;
  cursor: not-allowed;
}
